.main {
  text-align: center;

  .contents {
    width: 420px;
    margin: auto;

    .letters {
      display: flex;
      margin-bottom: 15px;
    }

    .letter {
      border: 1px solid lightgray;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      width: 70px;
      height: 70px;

      &+.letter {
        margin-left: 15px;
      }
    }
  }

  .corrected {
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(#000000, 0.20);
    }

    @keyframes popup {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
        transform: translateY(-100px);
      }
    }

    .popup {
      animation: popup 0.5s both;
      transition: all ease 0.3s;
      top: 32%;
      left: 32%;
      right: 32%;
      position: absolute;
      background-color: white;
      height: 350px;

      button {
        height: 40px;
        width: 80px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;

        &:hover {
          background-color: lighten(gainsboro, 5%);
        }

        &:active {
          background-color: darken(gainsboro, 5%);
        }
      }
    }
  }
}