.main {
  text-align: center;

  .contents {
    width: 480px;
    margin: auto;

    .letters {
      display: flex;
    }

    .letter {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }
  }
}